/* example of three different types of selectors 
   the priority goes as follows: id > class > element
   usually use class for multiple uses and id for a single item */
body{
	/*
	background: lightgray;*/
	background-image: url("../images/chick_background.webp");
	background-size: contain;
	/*background-size: cover;*/
}
.classSelector{
	color: blue;
}

#idSelector{
	color: red;
}

/* ------------------------------------------- */
/* pseudo selector is defined as a colon and then the pseudoselector 
 * these are just basic pseudo selectors.  Just google the rest*/
#pseudoSelector:link{
	color: blue;
}

#pseudoSelector:visited{
	color: purple;
}

#pseudoHover:hover{
	color: yellow;
}
/* ------------------------------------------- */
h2 + p{
	color: orange;
}

/* selects the specified element that is a sibling of the same parent */
h2 ~ table{
	color: green;
}

/* what happens is that the descendent selector overwrites the 
 * child selector because the descendent selector selects all the 
 * children under the parent */
ol > li{
	color: coral;
}
/* descendent selector */
ul li{
	color: teal;
}
/* ------------------------------------------- */
/* for every src atttribute that starts or contains the value */
img[src^="images/"]{
	border: 5px solid black;
}
/* & every attribute ends with */
img[height$="00"]{
	border: 5px solid red;
}
/* * every attribute that contains */
img[src*="cat"]{
	border: 5px dotted black;
}
/* selector that contains the specification */
p[class~="test1"]{
	background: pink;
}
/* selector that selects the value if it is equal to
 * or starts and ends with a -*/
p[class|="test"]{
	background: yellow;
}
/* ------------------------------------------- */
/* resources for color */
#colorProperty{
	color: rgba(255,20,147, 0.5);/* a value goes from 0.0 to 1.0 8*/
}
#colorProperty2{
	color: #FF1493;
}
/* ------------------------------------------- */
#divGradient{
	height: 200px;
	width: 200px;
	background: linear-gradient(to right, rgba(255,255,0), rgba(255,20,147));
	
	background-size: cover;
}
#divGradient2{
	height: 200px;
	width: 200px;
	background: linear-gradient(-90deg, rgba(255,255,0), rgba(255,20,147));
	/* also note can go negative degrees to go ccw */	
	background-size: cover;
}
#divGradient3{
	height: 200px;
	width: 200px;
	background: radial-gradient(circle, rgba(255,255,0)20%, rgba(255,20,147)75%); 
}
/* ------------------------------------------- */
/* example of relative units that manipulates size dynamically */
#unit-em{
	height: 5em;
	width: 5em;
	background-color: purple;
}
#unit-percent{
	height: 80px;
	width: 8%;
	background-color: yellow;
}
#unit-viewport{
	height: 10vh;
	width: 6.5vw;
	background-color: lightblue;
}

#text-manipulation{
	text-decoration: underline;
	text-transform: uppercase;
	text-align: center;
}
#font-manipulation{
	color: hotpink;
	font-size: 5em;
	font-weight: 100;
	font-family: "Comic Sans MS", "Times New Roman";
}
.italics{
	font-style: oblique;
	font-family: 'ABeeZee', sans-serif;
}
